/* Global Styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('https://i.pinimg.com/originals/da/e1/c1/dae1c11aa1d72da7e9286c0a79b66a76.jpg');
    background-size: cover;
    background-position: center;
    font-family: cursive;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Invitation Card Container */
.invitation-container {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

/* Content Styling */

.content h1 {
        font-size: 18px;
    margin: 10px 0;
}
.content h2 {
    font-size: 38px;
    color: black;
    font-style: italic;
    font-family: "Lucida Handwriting", cursive;
    margin: 0;
}

.content .date, .content .venue, .content .location, {
    font-size: 18px;
    margin: 10px 0;
}
@keyframes blinkDisco {
            0%, 100% { color: #ff0000; opacity: 1; }
            20% { color: #ff6600; opacity: 0.7; }
            40% { color: #ffff00; opacity: 1; }
            60% { color: #33cc33; opacity: 0.7; }
            80% { color: #0099cc; opacity: 1; }
        }

        .disco-text {
            font-size: 22px;
            font-weight: bold;
            animation: blinkDisco 1s infinite;
        }
